
chapter_installation/.ipynb_checkpoints/index-checkpoint.ipynb
chapter_preliminaries/.ipynb_checkpoints/ndarray-checkpoint.ipynb
chapter_preliminaries/.ipynb_checkpoints/autograd-checkpoint.ipynb
chapter_preliminaries/.ipynb_checkpoints/linear-algebra-checkpoint.ipynb
chapter_preliminaries/.ipynb_checkpoints/calculus-checkpoint.ipynb
chapter_preliminaries/.ipynb_checkpoints/pandas-checkpoint.ipynb
chapter_preliminaries/.ipynb_checkpoints/probability-checkpoint.ipynb
